{% extends 'base.html' %}
{% load filtros %}
{% load static %}

{% block 'head' %} 
<!-- Inclui o arquivo CSS específico para a página -->
<link rel="stylesheet" href="{% static 'css/ver_livro.css' %}"> 
{% endblock %}

{% block 'conteudo' %}
<!-- Modal para confirmação de exclusão -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Deseja mesmo excluir?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Link para a ação de exclusão -->
        <a href="{% url 'excluir_livro' id_livro %}" class="btn btn-danger">Excluir</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <br>
  <div class="form-wrapper">
    <!-- Coluna para exibir a imagem da capa do livro -->
    <div class="image-column">
      {% if livro.img.url %}
        <!-- Exibe a capa do livro, se disponível -->
        <img src="{{ livro.img.url }}" alt="Capa do livro" class="book-cover">
      {% else %}
        <!-- Exibe uma capa padrão caso não exista imagem -->
        <img src="{% static 'default_cover.jpg' %}" alt="Capa padrão" class="book-cover">
      {% endif %}
    </div>

    <!-- Coluna para o formulário de edição de detalhes do livro -->
    <div class="form-column">
      <form action="{% url 'alterar_livro' %}" method="POST">
        {% csrf_token %}
        <!-- Campo oculto para enviar o ID do livro -->
        <input type="hidden" value="{{ livro.id }}" name="livro_id">

        <!-- Campo para alterar o nome do livro -->
        <p>
          <label>Nome do livro:</label>
          <input style="font-weight: bold; color:#6c757d;" class="form-control" type="text" value="{{ livro.nome }}" name="nome_livro">
        </p>

        <p>
          <label>Autor:</label>
          <input style="font-weight: bold; color:#6c757d;" class="form-control" type="text" value="{{ livro.autor }}" name="autor">
        </p>

        <!-- Campo para alterar o coautor -->
        <p>
          <label>Coautor:</label>
          <input style="font-weight: bold; color:#6c757d;" class="form-control" type="text" value="{{ livro.co_autor }}" name="co_autor">
        </p>

        <!-- Campo de seleção para alterar a categoria -->
        <label>Categoria:&nbsp;</label>
        <select style="font-weight: bold; color:#6c757d;" class="form-control" name="categoria_id">
          {% for i in categoria_livro %}
            {% if livro.categoria.nome == i.nome %}
              <!-- Categoria atual é pré-selecionada -->
              <option value="{{ i.id }}" selected>{{ i }}</option>
            {% else %}
              <option value="{{ i.id }}">{{ i }}</option>
            {% endif %}
          {% endfor %}
        </select>

        <br>
        <!-- Exibição da data de cadastro do livro -->
        <p>
          <label>Data de cadastro do livro:</label><br>
          <span style="font-weight: bold; color:#6c757d;">{{ livro.data_cadastro }}</span>
        </p>

        <!-- Exibição do status do livro (Emprestado ou Disponível) -->
        {% if livro.emprestado %}
          <p>
            <label>Status do livro:</label><br>
            <span style="font-weight: bold; color:#6c757d;">Emprestado</span>
          </p>
        {% else %}
          <p>
            <label>Status do livro:</label><br>
            <span style="font-weight: bold; color:#6c757d;">Disponível</span>
          </p>
        {% endif %}

        <br>

        <!-- Botões para salvar alterações ou excluir o livro -->
        <div class="button-group">
          <input type="submit" class="btn btn-primary" value="Salvar">
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal2">
            Excluir
          </button>
        </div>
      </form>
    </div>
  </div>


  <br><br><br><br>

  <hr>
  <!-- Seção para exibir o histórico de empréstimos -->
  <h2>Histórico de empréstimo</h2>

  <table class="table table-striped historico-emprestimo">
    <thead>
      <tr>
        <!-- Cabeçalho da tabela -->
        <th scope="col">Nome</th>
        <th scope="col">Data do Empréstimo</th>
        <th scope="col">Data da Devolução</th>
        <th scope="col">Tempo de Duração</th>
        <th scope="col">Avaliação</th>
      </tr>
    </thead>
    <tbody>
      {% for i in emprestimos %}
      <tr>
        <!-- Nome do usuário que realizou o empréstimo -->
        {% if i.nome_emprestado_anonimo == None %}
        <th scope="row">{{i.nome_emprestado}}</th>
        {% else %}
        <th scope="row">{{i.nome_emprestado_anonimo}}</th>
        {% endif %}
        <td>{{i.data_emprestimo}}</td>
        <td>
          <!-- Exibição da data de devolução ou mensagem padrão -->
          {% if i.data_devolucao %}
            {{ i.data_devolucao }}
          {% else %}
            Ainda sem data de devolução!
          {% endif %}
        </td>
        <td>{{i.data_devolucao|mostra_duracao:i.data_emprestimo}}</td>
        <td>
          <!-- Lógica para exibir avaliação ou botão para avaliar -->
          {% if i.avaliacao == None and i.data_devolucao != None %}
            <button onclick="avaliacao('{{i.id}}')" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">Avaliar</button>
          {% else %}
            {% if i.data_devolucao == None %}
            <button class="btn btn-primary disabled">Avaliar</button>
            {% else %}
              <!-- Exibição das estrelas de avaliação com base no valor -->
              {% if i.avaliacao == 'P' %}
              <svg style="color: green;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg>

              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
              </svg>

              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
              </svg>

              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
              </svg>
              {% endif %}

              {% if i.avaliacao == 'R' %} 
              <svg style="color: green;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg>

              <svg style="color: green;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg>

              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
              </svg>

              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
              </svg>
              {% endif %}

              {% if i.avaliacao == 'B' %}
              <svg style="color: green;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg>

              <svg style="color: green;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg>

              <svg style="color: green;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg>

              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
              <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
              </svg>
            {% endif %}

            {% if i.avaliacao == 'O' %}
              <svg style="color: green;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg>

              <svg style="color: green;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg>

              <svg style="color: green;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg>

              <svg style="color: green;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg>
            {% endif %}

          {% endif %}

          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

<!-- Modal para avaliação de empréstimo -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <!-- Define o diálogo modal -->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- Cabeçalho do modal -->
      <div class="modal-header">
        <!-- Título do modal -->
        <h5 class="modal-title" id="exampleModalLabel">Avaliar empréstimo</h5>
        <!-- Botão para fechar o modal -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Corpo do modal -->
      <div class="modal-body">
        
        <!-- Formulário para enviar a avaliação -->
        <form action="{% url 'processa_avaliacao' %}" method="POST"> {% csrf_token %}

          <!-- Campo oculto para enviar o ID do livro -->
          <input type="hidden" value="{{id_livro}}" name="id_livro">
          <!-- Campo oculto para enviar o ID do empréstimo, atualizado dinamicamente -->
          <input id="id_emprestimo" type="hidden" name="id_emprestimo">

          <!-- Campo de seleção para escolher a avaliação -->
          <select class="form-control" name="opcoes">
            <option value="P">Péssimo</option>
            <option value="R">Ruim</option>
            <option value="B">Bom</option>
            <option value="O">Ótimo</option>
          </select>
          <br>

          <!-- Botão para enviar o formulário -->
          <input type="submit" class="btn btn-info" value="Avaliar">
        </form>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Espaçamento adicional -->
<br><br><br><br>

<!-- Script JavaScript para atualizar o campo oculto de ID do empréstimo -->
<script>
  // Função para preencher o campo oculto com o ID do empréstimo selecionado.
  function avaliacao(id_emprestimo) {
    // Obtém o elemento de entrada pelo ID
    input_emprestimo = document.getElementById('id_emprestimo')
    // Define o valor do campo oculto como o ID recebido
    input_emprestimo.value = id_emprestimo
  }
</script>

{% endblock %}